<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
         #sidebar {
            transition: width 0.3s ease-in-out;
        }
    </style>
    <title>Collector Dashboard</title>
</head>
<body>
<div>
{% load widget_tweaks %}
 <div>
    <div class="flex justify-between bg-white h-24 items-center px-6 md:px-20 py-auto border-b">
        <h2 class="text-xl md:text-2xl font-semibold">Payments</h2>
        <div class="flex gap-2 md:gap-5 justify-center items-center">
            {% load static %}
            
            <a href="{% url 'logoutCollector' %}">
                <p class="flex items-center py-2 px-4 gap-6 truncate">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAARNJREFUSEvNlY0NgjAQhY9NdBJ1E51EnUSdRJ1EN1E+wiMnKS1FmtCkgaS9e/fe/bSywqsq7N8WA7Ays72ZbcxsW/+/3X6a2XVIiRQDOT4mpDzX56fQnRgAzl/OCCePdnPGho3AYXVozzuzFAOiQhYMcRBaAF2cdGt/KQWQU2T3FoR8EFCzYgBE1V0cgeQl3UmqEICnnMsQSclJl/S+A5IG1TEMQ6RkTzHA4kci6hxZcpcPUjJREE2y/aHo/QOA7cfnty8RESAR31QRhAKRCl0lDSVZILMnWVFpRATbP9Jw6vxomebmQPezGw1DjQAimn1U+ITj/FZi2I0d1z/zZ8qwo0PZ/QdHj82QfMt5MqdWVnkGXwHfPhlPTtPIAAAAAElFTkSuQmCC" />Logout
                </p>
            </a>
        </div>
    </div>

    <div id="addClientModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex justify-center items-center">
    <div class="bg-white p-8 rounded shadow-lg transform scale-95 transition-opacity transition-transform duration-300 ease-in-out">
        <div class="flex justify-between items-center mb-8">
            <h2 class="text-[27px] font-semibold leading-none tracking-tight">Add Payment</h2>
            <img id="closeModalBtn" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXhJREFUSEvtlM1KAzEUhU9m0o0g3Sit4EJKQZ9B1BZnMmkF8TXEreCbiBtXgi8gYqHTQrHiSsWtP7jWpS5NJ1dSWpAy06RCcdOsb853z8m9YZjyYVPWxwxgTfh/IxJCHOWUOrvqdN7TWq3VaqtJkmzGcXyaZSXTQRRFByA6BvDCldoahUgpy0TUBVGRgL04ji/SIJmAnWq12MvlugDKAF65UptDSBiGJY+xWwAFAI8+55VGo/E1EcAUp0G+OZ9zFTca1keWUi6R1td9J0RP8Ly8iQXAvSYKWq3W57hRsgLM5Xq9vpz0eiaulYHY2Fh+A50AQRAUfM8zmZf6l4keNLBt694pooH4jYmIAc8E5AePe6eJQhtkrIORzt8Srdc55/PD8XRxkglIE2+32x/Gdn8HtDaRLdogmQApxD4BJyYWX6nK6KJFUbTGiLoELICx3WazeTnxHkghDn2lzrO+CgMhoo0/fRXWb9KxwGlMHbVSy2YAa3pTj+gHEY2zGcC9cpAAAAAASUVORK5CYII="/>
        </div>

        <form id="clientForm" method="post" action="{% url 'addPayment' %}">
            {% csrf_token %}
             <div class="form-group flex flex-col mb-3 space-y-2 ">
                    <label for="{{ form.loan_id.id_for_label }}" class="text-[15px] font-semibold">Select Loans:</label>
                    {% render_field form.loan_id class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                </div>

                <div class="form-group flex flex-col mb-3 space-y-2">
                    <label for="{{ form.amount.id_for_label }}" class="text-[15px] font-semibold">Amount:</label>
                    {% render_field form.amount class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                </div>

                <div class="form-group flex flex-col mb-3 space-y-2">
                    <label for="{{ form.or_number.id_for_label }}" class="text-[15px] font-semibold">OR Number:</label>
                    {% render_field form.or_number class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                </div>

                <div class="form-group flex flex-col mb-3 space-y-2">
                    <label for="{{ form.payment_date.id_for_label }}" class="text-[15px] font-semibold">Payment Date:</label>
                    {% render_field form.payment_date class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                </div>

            <button type="submit" id="submitBtn" class="ml-48 mt-10 flex items-center justify-end gap-3 bg-black/80 text-white py-2 px-4 rounded-[50px]">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAiJJREFUSEu1lU2Ij1EUxn9PFoYki8FEYamIBWEzZaN8pP5RSBYWU0ghShaYwcZGmkjNjJRkIYUppZSFlFLERr5loSiNmpXG16MzvX+9c+e+4x01d3nu85zn3vOce66Y4KUJzs+YArYnA5uBtcBSYAFg4APwDLgD3JD0o+qglQK21wEXiqRjXfQtsFvSvRwoK2C7C+gcR/l+A4clnUk5owRsnwCOjyN5GXpAUnc5MELA9gbgdmU9pWG87fAht+Im7ZIeNjf/CtieBrwC5iTMX8Cl8ENSGBsCq4CLwKKMyktgSdP4ssCewtSUc1DS2TRouw14B0zNiDQk9Ue8LBCliRKlq1XSgO0rwA4gWnKlpKe2bwKNDKdX0q5U4CMwNwNukTRk+xGwoqb5TyQtTwW+AS2ZBNskXSvHbc8EjgD7gUkZzoCk1lRgEJieAX8HTgPdkr4mQnuB8xnOoKQZqcALYGHNEvRLatieDXzOcJ5LWpwKXAW2Z8CzJH2xHa90a+HTZUk7i076lOEM76cC0SHRKenqlHQydzPbfUBHZm+LpOupwBQgHsm8DCFO3yPpTezZXlbMqo0Z7OvioQ2NECiIa4C7VT6o3qhYLelBM0du2B0FTtU0O4Xtk3SuHKwa18eAmKp1f7yYV4fSSTqqREmPx9joqXjdZWh8OB2S7udu/a8vM172JmB9GAfML77M98Djwq9bkn5W+vafta5Nq1vj2glT4B9GKb4ZaS97VQAAAABJRU5ErkJggg=="/>
                Add Payment
            </button>
        </form>
    </div>
</div>


    <div class="mx-3 md:mx-auto max-w-[1240px] mt-8">
        <div class="flex justify-between items-center mb-3">
            <h1 class="md:text-2xl text-xl font-bold mb-4">Loan List</h1>
            <button type="submit" id="openModalBtn" class=" text-[12px] md:text-[16px] flex items-center justify-center gap-3 bg-black/80 text-white py-1 md:py-2 px-4 rounded-[50px]">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAiJJREFUSEu1lU2Ij1EUxn9PFoYki8FEYamIBWEzZaN8pP5RSBYWU0ghShaYwcZGmkjNjJRkIYUppZSFlFLERr5loSiNmpXG16MzvX+9c+e+4x01d3nu85zn3vOce66Y4KUJzs+YArYnA5uBtcBSYAFg4APwDLgD3JD0o+qglQK21wEXiqRjXfQtsFvSvRwoK2C7C+gcR/l+A4clnUk5owRsnwCOjyN5GXpAUnc5MELA9gbgdmU9pWG87fAht+Im7ZIeNjf/CtieBrwC5iTMX8Cl8ENSGBsCq4CLwKKMyktgSdP4ssCewtSUc1DS2TRouw14B0zNiDQk9Ue8LBCliRKlq1XSgO0rwA4gWnKlpKe2bwKNDKdX0q5U4CMwNwNukTRk+xGwoqb5TyQtTwW+AS2ZBNskXSvHbc8EjgD7gUkZzoCk1lRgEJieAX8HTgPdkr4mQnuB8xnOoKQZqcALYGHNEvRLatieDXzOcJ5LWpwKXAW2Z8CzJH2xHa90a+HTZUk7i076lOEM76cC0SHRKenqlHQydzPbfUBHZm+LpOupwBQgHsm8DCFO3yPpTezZXlbMqo0Z7OvioQ2NECiIa4C7VT6o3qhYLelBM0du2B0FTtU0O4Xtk3SuHKwa18eAmKp1f7yYV4fSSTqqREmPx9joqXjdZWh8OB2S7udu/a8vM172JmB9GAfML77M98Djwq9bkn5W+vafta5Nq1vj2glT4B9GKb4ZaS97VQAAAABJRU5ErkJggg=="/>Add Payment
            </button>
        </div>

        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr class="bg-black/80 text-white">
                    <th class="py-2 px-1 border-b border-r">ID</th>
                    <th class="py-2 px-1 border-b border-r">Client Id</th>
                    <th class="py-2 px-1 border-b border-r">Loan Balance</th>
                    <th class="py-2 px-1 border-b border-r">Loan Date</th>
                    <th class="py-2 px-1 border-b border-r">Duration Period</th>
                    <th class="py-2 px-1 border-b border-r">Loaned Maturity</th>
                    <th class="py-2 px-1 border-b border-r">Guarantor Name</th>
                    <th class="py-2 px-1 border-b border-r">Loan Amount</th>
                </tr>
            </thead>

            <tbody>
                {% for loan in loans %}
                    <tr class="text-center">
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.id }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.client_id }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5 font-black bg-black/80 text-white">₱ {{ loan.loan_balance }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.loan_date }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.duration_period }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.loan_maturity }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.guarantor }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">₱ {{ loan.loan_amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
         <div class="flex justify-center mt-4">
        <ul class="pagination flex justify-center items-center gap-5">
            {% if loans.has_previous %}
                <li><a href="?page=1">&laquo;&laquo;</a></li>
                <li><a href="?page={{ loans.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            
            {% for num in loans.paginator.page_range %}
                {% if loans.number == num %}
                    <li class="active font-black"><span>{{ num }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if loans.has_next %}
                <li><a href="?page={{ loans.next_page_number }}">&raquo;</a></li>
                <li><a href="?page={{ loans.paginator.num_pages }}">&raquo;&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    const openModalBtn = document.getElementById('openModalBtn');
    const addClientModal = document.getElementById('addClientModal');
    const closeModalBtn = document.getElementById('closeModalBtn');
    const submitBtn = document.getElementById('submitBtn');

    openModalBtn.addEventListener('click', () => {
        addClientModal.classList.remove('hidden', 'opacity-0', 'scale-95');
        addClientModal.classList.add('scale-100');
    });

    closeModalBtn.addEventListener('click', () => {
        addClientModal.classList.add('opacity-0', 'scale-95');
        addClientModal.classList.remove('opacity-100', 'scale-100');
        setTimeout(() => {
            addClientModal.classList.add('hidden');
        }, 300);
    });

    submitBtn.addEventListener('click', async (event) => {
        event.preventDefault();

        const { isConfirmed } = await Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to add this client?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, add it!',
            cancelButtonText: 'No, cancel',
        });

        if (isConfirmed) {
            const form = document.getElementById('clientForm');
            const formData = new FormData(form);

            try {
                const response = await fetch(form.action, {
                    method: form.method,
                    body: formData,
                });

                if (response.ok) {
                    const responseData = await response.json();
                if (responseData.status === 'success') {
                    Swal.fire({
                        title: 'Success!',
                        text: 'The payment has been transfered successfully.',
                        icon: 'success',
                    }).then(() => {
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: 'An error occurred while processing the request.',
                        icon: 'error',
                    });
                    console.log(responseData)
                }
            }
            } catch (error) {
                console.error('Error during form submission:', error);
            }
        }
    });
</script>
</body>
</html>