<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
    <title>{% block title %}Login{% endblock %}</title>
</head>
<body class="font-family-Poppins">
    <div class="flex items-center justify-center">
        <div class="bg-[#3E8EDE] h-[100vh] w-[50vw] flex justify-center items-end text-[20px] text-white pb-[40px]">
            "Empowering
            Dreams,
            Enabling Futures:
            Your Path to
            Financial
            Freedom Starts Here."</div>
        <div class="flex justify-center items-center flex-col h-[100vh] w-[50vw]">
            <div>
                <div>
                    <h2 class="text-[40px] font-semibold mb-2 border-l-[10px] border-[#3E8EDE] pl-4">
                        Admin Login
                    </h2>
                    <p class="mb-6 text-[16px] text-[#606060]">Login your account.</p>
                </div>
                
                <form id="loginForm">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="user" class="block mb-2 text-sm font-medium text-gray-700">Username</label>
                        <input type="text" name="user" id="user" placeholder="Enter your username"
                            class="shadow-sm bg-gray-50 border border-gray-300 rounded-md w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <div class="mb-6">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter your password"
                            class="shadow-sm bg-gray-50 border border-gray-300 rounded-md w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <button type="submit"
                        class="w-full bg-[#3E8EDE] hover:bg-[#3E8EDE] text-white font-bold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">Login</button>
                    <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
                    </form>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#loginForm').submit(function (e) {
            e.preventDefault();
            var _this = $(this)
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                url: '{% url 'login-controller' %}',
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                success: function (resp) {
                    if (typeof resp == 'object' && resp.status === 'success') {
                        showSuccessAlert();
                    } else {
                        showFailedAlert();
                    }
                },
                error: function () {
                    showFailedAlert();
                }
            });
        });

        function showSuccessAlert() {
            Swal.fire({
                icon: 'success',
                title: 'Login Successful!',
                text: 'Welcome back!',
                showConfirmButton:false,
                showCancelButton:false,
                timer: 2000,
            }).then(() => {
                window.location = '{% url 'dashboard' %}'
            })

        }

        function showFailedAlert() {
            Swal.fire({
                icon: 'error',
                title: 'Login Failed!',
                text: 'Invalid email or password. Please try again.',
                confirmButtonText: 'OK'
            });
        }
    });
</script>
</body>
</html>
