{% extends 'layout.html' %}

{% block title %}Credit and Collection System{% endblock %}

{% block content %}

   <div>
       <div class="flex justify-between bg-white h-24 items-center px-6 md:px-20 py-auto border-b">
            <h2 class="text-xl md:text-2xl font-semibold">Loan Portal</h2>
           <div class="flex gap-2 md:gap-5 justify-center items-center">
               {% load static %}
               <img src="{% static 'images/svg/skeleton.svg' %}" class="w-6 h-6 md:w-8 h-8">
               <p class="hidden md:block">{{ user.username }}</p>
           </div>
       </div>

         <div id="addClientModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex justify-center items-center">
            <div class="bg-white p-8 rounded shadow-lg transform scale-95 transition-opacity transition-transform duration-300 ease-in-out">
                <div class="flex justify-between items-center mb-8">
                    <h2 class="text-[27px] font-semibold leading-none tracking-tight">Add Loan</h2>
                    <img id="closeModalBtn" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXhJREFUSEvtlM1KAzEUhU9m0o0g3Sit4EJKQZ9B1BZnMmkF8TXEreCbiBtXgi8gYqHTQrHiSsWtP7jWpS5NJ1dSWpAy06RCcdOsb853z8m9YZjyYVPWxwxgTfh/IxJCHOWUOrvqdN7TWq3VaqtJkmzGcXyaZSXTQRRFByA6BvDCldoahUgpy0TUBVGRgL04ji/SIJmAnWq12MvlugDKAF65UptDSBiGJY+xWwAFAI8+55VGo/E1EcAUp0G+OZ9zFTca1keWUi6R1td9J0RP8Ly8iQXAvSYKWq3W57hRsgLM5Xq9vpz0eiaulYHY2Fh+A50AQRAUfM8zmZf6l4keNLBt694pooH4jYmIAc8E5AePe6eJQhtkrIORzt8Srdc55/PD8XRxkglIE2+32x/Gdn8HtDaRLdogmQApxD4BJyYWX6nK6KJFUbTGiLoELICx3WazeTnxHkghDn2lzrO+CgMhoo0/fRXWb9KxwGlMHbVSy2YAa3pTj+gHEY2zGcC9cpAAAAAASUVORK5CYII="/>
                </div>

                <form id="clientForm" method="post" action="{% url 'add_loan' %}">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    <div class="form-group flex flex-col mb-3 space-y-2">
                        <label for="{{ form.client_id.id_for_label }}" class="text-[15px] font-semibold">Client Name:</label>
                        {% render_field form.client_id class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                    </div>

                    <div class="form-group flex flex-col mb-3 space-y-2">
                        <label for="{{ form.loan_date.id_for_label }}" class="text-[15px] font-semibold">Loan Date:</label>
                        {% render_field form.loan_date class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                    </div>

                    <div class="form-group flex gap-4">
                        <div class="flex flex-col mb-3 space-y-2 w-full">
                            <label for="{{ form.duration_period.id_for_label }}" class="text-[15px] font-semibold">Duration Period:</label>
                            {% render_field form.duration_period class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                        </div>

                        <div class="flex flex-col mb-3 space-y-2 w-full">
                            <label for="{{ form.loan_maturity.id_for_label }}" class="text-[15px] font-semibold">Loaned Maturity:</label>
                            {% render_field form.loan_maturity class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                        </div>
                    </div>
                     <div class="form-group flex gap-4">
                        <div class="flex flex-col mb-3 space-y-2 w-full">
                            <label for="{{ form.guarantor.id_for_label }}" class="text-[15px] font-semibold">Guarantor:</label>
                            {% render_field form.guarantor class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                        </div>

                        <div class="flex flex-col mb-3 space-y-2 w-full">
                            <label for="{{ form.interest_rateid_for_label }}" class="text-[15px] font-semibold">Interest Rate:</label>
                            {% render_field form.interest_rate class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                        </div>
                    </div>
                     <div class="form-group flex gap-4">
                        <div class="flex flex-col mb-3 space-y-2 w-full">
                            <label for="{{ form.processing_fee.id_for_label }}" class="text-[15px] font-semibold">Processing Fee:</label>
                            {% render_field form.processing_fee class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                        </div>

                        <div class="flex flex-col mb-3 space-y-2 w-full">
                            <label for="{{ form.net.id_for_label }}" class="text-[15px] font-semibold">Net:</label>
                            {% render_field form.net class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                        </div>
                    </div>
                    <div class="form-group flex flex-col mb-3 space-y-2">
                        <label for="{{ form.loan_amount.id_for_label }}" class="text-[15px] font-semibold">Loan Amount:</label>
                        {% render_field form.loan_amount class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                    </div>
                    <div class="form-group flex flex-col mb-3 space-y-2">
                        <label for="{{ form.loan_balance.id_for_label }}" class="text-[15px] font-semibold">Loan Balance:</label>
                        {% render_field form.loan_balance class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                    </div>
                    <div class="form-group flex flex-col mb-3 space-y-2">
                        <label for="{{ form.checking_no.id_for_label }}" class="text-[15px] font-semibold">Check Number:</label>
                        {% render_field form.checking_no class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                     </div>

                     <div class="form-group flex flex-col mb-3 space-y-2">
                        <label for="{{ form.has_active_loan.id_for_label }}" class="text-[15px] font-semibold">Loan Status:</label>
                        {% render_field form.has_active_loan class="form-control flex h-10 flex-wrap break-normal break-all w-full border border-input bg-background px-3 py-2 text-sm" %}
                     </div>

                    <button type="submit" id="submitBtn" class="mt-10 ml-72 text-[12px] md:text-[16px] flex items-center justify-center gap-3 bg-[#3E8EDE] text-white py-1 md:py-2 px-4 rounded-[50px]">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPNJREFUSEvdlCFOQ0EURc8JqyBIDKnD1rCACrAowh7QGAyue0CBqwGJxeJqGhSuC6gg8Mj89JNS/m/TmX5Rxs68e+bdd2ek42XH+vwjQEScArfA0ZJtX8CVOsyx88eiiHgHDlaIPACX6mwT0CIgNilsODued/q0uLdNQNJ9Uw9XAtSsZEVE5cBy/Z8Odh8A7AHPwEnB0Mdqr7KsFqk9BM6AUYH4r2E3AR6BQSHgWr1p6yClIStJ80t9AvvqtA1QeHnu1ItaZNsPLekeq69dAV7Ufpdfxbl63wZI0Uxfdu6aAD31oxGQq7quriSO67Sr/d0HfAOFFWIZvxey7wAAAABJRU5ErkJggg=="/>Add Loan</button>
                </form>
            </div>
         </div>

       <div class="mx-3 md:mx-auto max-w-[1340px] mt-8">
           <div class="flex justify-between items-center mb-3">
                <h1 class="md:text-2xl text-xl font-bold mb-4">Loan List</h1>
                <button type="submit" id="openModalBtn" class=" text-[12px] md:text-[16px] flex items-center justify-center gap-3 bg-[#3E8EDE] text-white py-1 md:py-2 px-4 rounded-[50px]">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPNJREFUSEvdlCFOQ0EURc8JqyBIDKnD1rCACrAowh7QGAyue0CBqwGJxeJqGhSuC6gg8Mj89JNS/m/TmX5Rxs68e+bdd2ek42XH+vwjQEScArfA0ZJtX8CVOsyx88eiiHgHDlaIPACX6mwT0CIgNilsODued/q0uLdNQNJ9Uw9XAtSsZEVE5cBy/Z8Odh8A7AHPwEnB0Mdqr7KsFqk9BM6AUYH4r2E3AR6BQSHgWr1p6yClIStJ80t9AvvqtA1QeHnu1ItaZNsPLekeq69dAV7Ufpdfxbl63wZI0Uxfdu6aAD31oxGQq7quriSO67Sr/d0HfAOFFWIZvxey7wAAAABJRU5ErkJggg=="/>Add Loan</button>
            </div>
           <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr class="bg-[#3E8EDE] text-white">
                    <th class="py-2 px-1 border-b border-r">Client Id</th>
                    <th class="py-2 px-1 border-b border-r">Loan Balance</th>
                    <th class="py-2 px-1 border-b border-r">Loan Date</th>
                    <th class="py-2 px-1 border-b border-r">Duration Period</th>
                    <th class="py-2 px-1 border-b border-r">Loaned Maturity</th>
                    <th class="py-2 px-1 border-b border-r">Guarantor Name</th>
                    <th class="py-2 px-1 border-b border-r">Loan Amount</th>
                    <th class="py-2 px-1 border-b border-r">Processing Fee</th>
                    <th class="py-2 px-1 border-b border-r">Interest</th>
                    <th class="py-2 px-1 border-b border-r">Net</th>
                    <th class="py-2 px-1 border-b border-r">Check No.</th>
                    <th class="py-2 px-1 border-b border-r">Loan Status</th>
            
                </tr>
            </thead>

            <tbody>
                {% for loan in loans %}
                    <tr class="text-center">
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.client_id }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5 font-black bg-[#3E8EDE] text-white">₱ {{ loan.loan_balance }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.loan_date }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.duration_period }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.loan_maturity }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.guarantor }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">₱ {{ loan.loan_amount }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">₱ {{ loan.processing_fee }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.interest_rate }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">{{ loan.net }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5"># {{ loan.checking_no }}</td>
                        <td class="py-2 px-1 border-b border-r py-2.5">
                            {% if loan.has_active_loan %}
                                <div class="text-[#008000] font-bold">Active</div>
                            {% else %}
                                <div class="text-[#FF0000] font-bold">Inactive</div>
                            {% endif %}
                        </td>
                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
         <div class="flex justify-center mt-4">
        <ul class="pagination flex justify-center items-center gap-5">
            {% if loans.has_previous %}
                <li><a href="?page=1">&laquo;&laquo;</a></li>
                <li><a href="?page={{ loans.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            
            {% for num in loans.paginator.page_range %}
                {% if loans.number == num %}
                    <li class="active font-black"><span>{{ num }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if loans.has_next %}
                <li><a href="?page={{ loans.next_page_number }}">&raquo;</a></li>
                <li><a href="?page={{ loans.paginator.num_pages }}">&raquo;&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
       </div>
   </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    const openModalBtn = document.getElementById('openModalBtn');
    const addClientModal = document.getElementById('addClientModal');
    const closeModalBtn = document.getElementById('closeModalBtn');
    const submitBtn = document.getElementById('submitBtn');

    openModalBtn.addEventListener('click', () => {
        addClientModal.classList.remove('hidden', 'opacity-0', 'scale-95');
        addClientModal.classList.add('scale-100');
    });

    closeModalBtn.addEventListener('click', () => {
        addClientModal.classList.add('opacity-0', 'scale-95');
        addClientModal.classList.remove('opacity-100', 'scale-100');
        setTimeout(() => {
            addClientModal.classList.add('hidden');
        }, 300);
    });


    submitBtn.addEventListener('click', async (event) => {
        event.preventDefault();

        const { isConfirmed } = await Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to add this client?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, add it!',
            cancelButtonText: 'No, cancel',
        });

        if (isConfirmed) {
            const form = document.getElementById('clientForm');
            const formData = new FormData(form);
            console.log(formData)
            try {
                const response = await fetch(form.action, {
                    method: form.method,
                    body: formData,
                });

                if (response.ok) {
                    const responseData = await response.json();
                if (responseData.status === 'success') {
                    Swal.fire({
                        title: 'Success!',
                        text: 'The payment has been transfered successfully.',
                        icon: 'success',
                    }).then(() => {
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Either there is a field missing or the Client has an active Loan.',
                        icon: 'error',
                    });
                    console.log(responseData)
                }
            }
            } catch (error) {
                console.error('Error during form submission:', error);
            }
        }
    });

// async function deleteBtn(btn) {

//         const { isConfirmed } = await Swal.fire({
//             title: 'Are you sure?',
//             text: 'Do you want to delete this loan?',
//             icon: 'warning',
//             showCancelButton: true,
//             confirmButtonText: 'Yes, delete it!',
//             cancelButtonText: 'No, cancel',
//         });

//         if(isConfirmed) {
            
//             Swal.fire({
//                 title: 'Success!',
//                 text: 'The loan has been deleted successfully.',
//                 icon: 'success',
//             }).then(() => {
//                         location.href =`/adminUser/delete_loan/${btn.dataset.id}`
//                     });
//         }
//     }
</script>


{% endblock %}
