{% extends 'layout.html' %}

{% block title %}Credit and Collection System{% endblock %}

{% block content %}
<div>
    <div class="flex justify-between bg-white h-24 items-center px-6 md:px-20 py-auto border-b">
        <h2 class="text-xl md:text-2xl font-semibold">Reports</h2>
        <div class="flex gap-2 md:gap-5 justify-center items-center">
            {% load static %}
            <img src="{% static 'images/svg/skeleton.svg' %}" class="w-6 h-6 md:w-8 h-8">
            <p class="hidden md:block">{{ user.username }}</p>
        </div>
    </div>

    <div class="mx-3 md:mx-auto max-w-[1240px] mt-8">
        <div class="flex justify-between items-center mb-3">
            <h1 class="md:text-2xl text-xl font-bold mb-4">Collections List</h1>

            <div class="flex gap-2">
                <button type="button" id="reload" class="text-[12px] md:text-[16px] flex items-center justify-center gap-3 bg-[#3E8EDE] text-white py-1 md:py-2 px-4 rounded-[50px]">
                    Reload List
                </button>
            <div class="relative">
                <button type="button" id="downloadReportBtn" class="text-[12px] md:text-[16px] flex items-center justify-center gap-3 bg-[#3E8EDE] text-white py-1 md:py-2 px-4 rounded-[50px]">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAMNJREFUSEvtllsKAjEMRc/diyDodlyK/gmDIvihS3E7Cq4mMqBSOjPpQ4oI9jNNc0JuQioaHzWOzwBgZivgAMwT8E7SPpXgGOAKLFIPn/cbSWfPdwxgGcF3QJcDqQJIkpmdgHUKUg3oA+dAPgLkQFxAX4qXHmb21ia0x5D4rgrgdk2QVO9XVaLfAcT1nMrc0ydbA68s1YCMiR64FHVRc8Bfg68NWsnCifvgJmkZGqdW5hGYFXbRHdhKuriAwqBJ9+a/igdhEYIZFty6ygAAAABJRU5ErkJggg=="/>
                    Download Payments Report
                </button>
                <div id="reportDropdown" class="absolute hidden bg-white border border-gray-300 mt-2 py-2 px-4 rounded-md shadow-lg flex flex-col">
                    <a href="{% url 'exportTodayPayments' %}" id="paymentsForDay" class="text-[12px] md:text-[16px] py-2 px-4 hover:bg-[#3E8EDE] hover:text-white rounded-md">Payments this day</a>
                    <a href="#" id="dateRange" class="text-[12px] md:text-[16px] py-2 px-4 hover:bg-[#3E8EDE] hover:text-white rounded-md">Date Range</a>
                </div>
            </div>
            <div class="relative">
                <button type="button" id="downloadLoanReportBtn" class="text-[12px] md:text-[16px] flex items-center justify-center gap-3 bg-[#3E8EDE] text-white py-1 md:py-2 px-4 rounded-[50px]">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAMNJREFUSEvtllsKAjEMRc/diyDodlyK/gmDIvihS3E7Cq4mMqBSOjPpQ4oI9jNNc0JuQioaHzWOzwBgZivgAMwT8E7SPpXgGOAKLFIPn/cbSWfPdwxgGcF3QJcDqQJIkpmdgHUKUg3oA+dAPgLkQFxAX4qXHmb21ia0x5D4rgrgdk2QVO9XVaLfAcT1nMrc0ydbA68s1YCMiR64FHVRc8Bfg68NWsnCifvgJmkZGqdW5hGYFXbRHdhKuriAwqBJ9+a/igdhEYIZFty6ygAAAABJRU5ErkJggg=="/>
                    Download Loans Report
                </button>
                <div id="reportLoanDropdown" class="absolute hidden bg-white border border-gray-300 mt-2 py-2 px-4 rounded-md shadow-lg flex flex-col">
                    <a href="{% url 'exportTodayLoans' %}" id="loansForDay" class="text-[12px] md:text-[16px] py-2 px-4 hover:bg-[#3E8EDE] hover:text-white rounded-md">Loans this day</a>
                    <a href="#" id="dateRangeL" class="text-[12px] md:text-[16px] py-2 px-4 hover:bg-[#3E8EDE] hover:text-white rounded-md">Date Range</a>
                </div>
            </div>
                </div>
        </div>

        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b border-r">ID</th>
                    <th class="py-2 px-4 border-b border-r">Report Type</th>
                    <th class="py-2 px-4 border-b border-r">Report Name</th>
                    <th class="py-2 px-4 border-b border-r">Created At</th>
                    <th class="py-2  border-b">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for report in reports %}
                    <tr class="text-center">
                        <td class="py-2 px-4 border-b border-r">{{ report.id }}</td>
                        <td class="py-2 px-4 border-b border-r">{{ report.type }}</td>
                        <td class="py-2 px-4 border-b border-r">{{ report.filename }}</td>
                        <td class="py-2 px-4 border-b border-r">{{ report.created_at }}</td>
                         <td class="py-2 px-4 border-b">
                             <a href="/media/reports/payments/{{ report.filename }}" download>Download</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="flex justify-center mt-4">
            <ul class="pagination flex justify-center items-center gap-5">
                {% if reports.has_previous %}
                <li><a href="?page=1">&laquo;&laquo;</a></li>
                <li><a href="?page={{ reports.previous_page_number }}">&laquo;</a></li>
                {% endif %}

                {% for num in reports.paginator.page_range %}
                {% if reports.number == num %}
                <li class="active font-black"><span>{{ num }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}

                {% if reports.has_next %}
                <li><a href="?page={{ reports.next_page_number }}">&raquo;</a></li>
                <li><a href="?page={{ reports.paginator.num_pages }}">&raquo;&raquo;</a></li>
                {% endif %}
            </ul>
        </div>

        <div id="dateRangeModal" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 hidden">
            <div class="w-96 bg-white mx-auto mt-20 p-6 rounded-md">
                <div class="flex justify-end items-center mb-8">
                    <img id="closeModalBtn" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXhJREFUSEvtlM1KAzEUhU9m0o0g3Sit4EJKQZ9B1BZnMmkF8TXEreCbiBtXgi8gYqHTQrHiSsWtP7jWpS5NJ1dSWpAy06RCcdOsb853z8m9YZjyYVPWxwxgTfh/IxJCHOWUOrvqdN7TWq3VaqtJkmzGcXyaZSXTQRRFByA6BvDCldoahUgpy0TUBVGRgL04ji/SIJmAnWq12MvlugDKAF65UptDSBiGJY+xWwAFAI8+55VGo/E1EcAUp0G+OZ9zFTca1keWUi6R1td9J0RP8Ly8iQXAvSYKWq3W57hRsgLM5Xq9vpz0eiaulYHY2Fh+A50AQRAUfM8zmZf6l4keNLBt694pooH4jYmIAc8E5AePe6eJQhtkrIORzt8Srdc55/PD8XRxkglIE2+32x/Gdn8HtDaRLdogmQApxD4BJyYWX6nK6KJFUbTGiLoELICx3WazeTnxHkghDn2lzrO+CgMhoo0/fRXWb9KxwGlMHbVSy2YAa3pTj+gHEY2zGcC9cpAAAAAASUVORK5CYII="/>
                </div>
                <div class="flex flex-col mb-5 space-y-2">
                    <input type="text" id="dateRangePicker" placeholder="Select Date Range" class="date-input border-gray-500 border-[1px] rounded-[5px] p-2">
                </div>
                <button type="button" id="submitDateRange" class="text-[12px] md:text-[16px] flex items-center justify-center gap-3 bg-[#6861ff] text-white py-1 md:py-2 px-4 rounded-[50px] ml-32 mt-8">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAMNJREFUSEvtllsKAjEMRc/diyDodlyK/gmDIvihS3E7Cq4mMqBSOjPpQ4oI9jNNc0JuQioaHzWOzwBgZivgAMwT8E7SPpXgGOAKLFIPn/cbSWfPdwxgGcF3QJcDqQJIkpmdgHUKUg3oA+dAPgLkQFxAX4qXHmb21ia0x5D4rgrgdk2QVO9XVaLfAcT1nMrc0ydbA68s1YCMiR64FHVRc8Bfg68NWsnCifvgJmkZGqdW5hGYFXbRHdhKuriAwqBJ9+a/igdhEYIZFty6ygAAAABJRU5ErkJggg=="/>
                    Download Report
                </button>
            </div>
        </div>

        <div id="dateRangeLModal" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 hidden">
            <div class="w-96 bg-white mx-auto mt-20 p-6 rounded-md">
                <div class="flex justify-end items-center mb-8">
                    <img id="closeModalBtn" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXhJREFUSEvtlM1KAzEUhU9m0o0g3Sit4EJKQZ9B1BZnMmkF8TXEreCbiBtXgi8gYqHTQrHiSsWtP7jWpS5NJ1dSWpAy06RCcdOsb853z8m9YZjyYVPWxwxgTfh/IxJCHOWUOrvqdN7TWq3VaqtJkmzGcXyaZSXTQRRFByA6BvDCldoahUgpy0TUBVGRgL04ji/SIJmAnWq12MvlugDKAF65UptDSBiGJY+xWwAFAI8+55VGo/E1EcAUp0G+OZ9zFTca1keWUi6R1td9J0RP8Ly8iQXAvSYKWq3W57hRsgLM5Xq9vpz0eiaulYHY2Fh+A50AQRAUfM8zmZf6l4keNLBt694pooH4jYmIAc8E5AePe6eJQhtkrIORzt8Srdc55/PD8XRxkglIE2+32x/Gdn8HtDaRLdogmQApxD4BJyYWX6nK6KJFUbTGiLoELICx3WazeTnxHkghDn2lzrO+CgMhoo0/fRXWb9KxwGlMHbVSy2YAa3pTj+gHEY2zGcC9cpAAAAAASUVORK5CYII="/>
                </div>
                <div class="flex flex-col mb-5 space-y-2">
                    <input type="text" id="dateRangeLPicker" placeholder="Select Date Range" class="date-input border-gray-500 border-[1px] rounded-[5px] p-2">
                </div>
                <button type="button" id="submitDateRangeL" class="text-[12px] md:text-[16px] flex items-center justify-center gap-3 bg-[#6861ff] text-white py-1 md:py-2 px-4 rounded-[50px] ml-32 mt-8">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAMNJREFUSEvtllsKAjEMRc/diyDodlyK/gmDIvihS3E7Cq4mMqBSOjPpQ4oI9jNNc0JuQioaHzWOzwBgZivgAMwT8E7SPpXgGOAKLFIPn/cbSWfPdwxgGcF3QJcDqQJIkpmdgHUKUg3oA+dAPgLkQFxAX4qXHmb21ia0x5D4rgrgdk2QVO9XVaLfAcT1nMrc0ydbA68s1YCMiR64FHVRc8Bfg68NWsnCifvgJmkZGqdW5hGYFXbRHdhKuriAwqBJ9+a/igdhEYIZFty6ygAAAABJRU5ErkJggg=="/>
                    Download Report
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var downloadReportBtn = document.getElementById('downloadReportBtn');
        var downloadLoanReportBtn = document.getElementById('downloadLoanReportBtn');
        var reportDropdown = document.getElementById('reportDropdown');
        var reportLoanDropdown = document.getElementById('reportLoanDropdown');
        var paymentsForDay = document.getElementById('paymentsForDay');
        var loansForDay = document.getElementById('loansForDay');
        var dateRangeModal = document.getElementById('dateRangeModal');
        var dateRangeLModal = document.getElementById('dateRangeLModal');
        var dateRangePicker = document.getElementById('dateRangePicker');
        var dateRangeLPicker = document.getElementById('dateRangeLPicker');
        var submitDateRange = document.getElementById('submitDateRange');
        var submitDateRangeL = document.getElementById('submitDateRangeL');
        var closeModalBtn = document.getElementById('closeModalBtn');

        downloadReportBtn.addEventListener('click', function () {
            reportDropdown.classList.toggle('hidden');
        });

        downloadLoanReportBtn.addEventListener('click', function () {
            reportLoanDropdown.classList.toggle('hidden');
        });

        paymentsForDay.addEventListener('click', function () {
            reportDropdown.classList.add('hidden');
        });

        loansForDay.addEventListener('click', function () {
            reportLoanDropdown.classList.add('hidden');
        });

        dateRange.addEventListener('click', function () {
            dateRangeModal.classList.remove('hidden');
        });

        dateRangeL.addEventListener('click', function () {
            dateRangeLModal.classList.remove('hidden');
        });

        flatpickr("#dateRangePicker", {
            mode: "range",
            dateFormat: "Y/m/d",
            // Add more options as needed
        });

        flatpickr("#dateRangeLPicker", {
            mode: "range",
            dateFormat: "Y/m/d",
            // Add more options as needed
        });

        submitDateRange.addEventListener('click', function () {
            var selectedDates = dateRangePicker.value.split(" ");
            console.log('Selected Date Range:', selectedDates);
            var from = selectedDates[0].split("/").join('-')
            var to = selectedDates[2].split("/").join('-')

            if(selectedDates.length !== 0) {
                location.href = `exportPayment/${from}/${to}/`
            }

            dateRangeModal.classList.add('hidden');
            reportDropdown.classList.toggle('hidden');
        });

        submitDateRangeL.addEventListener('click', function () {
            var selectedDates = dateRangeLPicker.value.split(" ");
            console.log('Selected Date Range:', selectedDates);
            var from = selectedDates[0].split("/").join('-')
            var to = selectedDates[2].split("/").join('-')

            if(selectedDates.length !== 0) {
                location.href = `exportLoan/${from}/${to}/`
            }

            dateRangeLModal.classList.add('hidden');
            reportLoanDropdown.classList.toggle('hidden');
        });

        closeModalBtn.addEventListener('click', function () {
            dateRangeModal.classList.add('hidden');
        });

        document.getElementById('reload').addEventListener('click', () => {
            location.reload()
        })
    });
</script>

{% endblock %}
